@font-face {
  font-family: "Roboto";
  src: url("./resources/fonts/Roboto/Roboto-Regular.ttf") format("truetype")
       
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("./resources/fonts/Roboto/Roboto-Bold.ttf") format("truetype")
       
}

@font-face {
  font-family: "Roboto-Light";
  src: url("./resources/fonts/Roboto/Roboto-Light.ttf") format("truetype")
       
}

body {
  margin: 0;
  
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2, h5{
  font-family: 'Roboto-Bold';
}

h1{
  font-size: 54px;
  color:#2f4859;
}

h2{
  font-size: 40px;
  color:#2f4859;

}

h5{
  font-size: 20px;
}

p, button{
  font-family: 'Roboto-Light';
}

.form-control:focus {
  
  box-shadow: 0 0 0 2px #77CB93 ;
}

